In [ ]:
import pandas as pd
import numpy as np

Цель проекта:
получить список лидеров по выручке и количеству стеблей. 

Данные: отчёт по продажам по мастерской. Период с 12.04.2021 по 12.05.2021

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Pandas_files/Для Артёма (продажи) (1).xlsx')

In [ ]:
display(df) #просматриваем содержимое файла

       category  ...  NON.1
0    Аксессуары  ...  64.30
1    Аксессуары  ...  64.30
2    Аксессуары  ...  64.29
3    Аксессуары  ...  64.29
4    Аксессуары  ...  64.29
..          ...  ...    ...
337    Упаковка  ...  64.40
338    Упаковка  ...  47.57
339      Услуги  ...  99.94
340      Услуги  ...  99.83
341      Услуги  ...   0.00

[342 rows x 7 columns]

In [ ]:
df.info() #проверяем типы столбцов и наличие / отсутствие пропусков

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   category    342 non-null    object
 1   product     342 non-null    object
 2   revenue     342 non-null    float64
 3   quantity    342 non-null    float64
 4   cost_price  342 non-null    float64
 5   NON         342 non-null    float64
 6   NON.1       342 non-null    float64
dtypes: float64(5), object(2)
memory usage: 18.8+ KB

In [ ]:
df['category'].unique() #получаем уникальные категории товаров

array(['Аксессуары', 'Горшечные', 'Кашпо', 'Луковичные',
       'Срезанные цветы', 'Упаковка', 'Услуги'], dtype=object)

In [ ]:
df.pivot_table(index='category', values='revenue', aggfunc='sum') #сводная таблица с суммарной выручкой по каждой категории

                     revenue
category
Аксессуары        162060.000
Горшечные          17120.000
Кашпо              20920.000
Луковичные         22620.000
Срезанные цветы  3939568.673
Упаковка          123267.970
Услуги             97591.160

In [ ]:
df1 = df.loc[df['category']=='Срезанные цветы' ] #создаем отдельный датафрейм для срезанных цветов

In [ ]:
display(df1) #проверяем работоспособность нового датафрейма

            category                               product  ...       NON  NON.1
41   Срезанные цветы           Аллиум маунт эверест (L-90)  ...   6412.95  66.80
42   Срезанные цветы                 Аллиум сикулум (L-90)  ...   7611.07  65.34
43   Срезанные цветы                                  Амми  ...     80.34  53.44
44   Срезанные цветы  Анигозантус буш даймонд, кор. (L-60)  ...   2450.42  67.32
45   Срезанные цветы                      Анигозантус перл  ...   1320.00  66.67
..               ...                                   ...  ...       ...    ...
331  Срезанные цветы          Целозия розовая, наб. (L-55)  ...   2000.30  66.68
332  Срезанные цветы      Чойсия терната лемон лайм (L-50)  ...   2352.04  63.03
333  Срезанные цветы                      Чубушник (W-250)  ...   3591.06  66.80
334  Срезанные цветы                    Эхиум вебби (L-70)  ...   5985.00  66.80
335  Срезанные цветы                    Эхиум вебби (L-80)  ...  20636.48  66.19

[295 rows x 7 columns]

In [ ]:
df1.duplicated().sum() #проверяем наличие дубликатов

0

In [ ]:
df['product'].value_counts() #ищем одинаковые названия

Кашпо серый терракот 16 см             1
Пион Боул оф крим                      1
Лилия лф воч ап (L-90)                 1
Фритиллярия персик L-70                1
Дельфиниум найт квин L-90              1
                                      ..
Оксипеталум брайдал виктория (L-60)    1
Филодендрон ампельный 120см            1
Мимоза цветущая флорибунда  (L-70)     1
Астильба                               1
Листья Берграсс L-75                   1
Name: product, Length: 342, dtype: int64

In [ ]:
df1['product'].unique() #просматриваем уникальные значения в столбце со срезанными цветами

array(['Аллиум маунт эверест (L-90)', 'Аллиум сикулум (L-90)', 'Амми',
       'Анигозантус буш даймонд, кор. (L-60)', 'Анигозантус перл',
       'Антуриум', 'Антуриум L-45', 'Антуриум адина (L-999)',
       'Антуриум акрополис (L-50)', 'Антуриум габриэлла',
       'Антуриум максима элеганс (L-45)', 'Антуриум марисия (L-50)',
       'Антуриум мидори', 'Антуриум мидори (L-45)',
       'Антуриум микс (L-45)', 'Антуриум пинк кристина',
       'Антуриум текила (L-40)', 'Антуриум текила (L-50)',
       'Антуриум чирс (L-999)', 'Астильба', 'Астильба европа (L-60)',
       'Астильба Европа L-60', 'Ахилея паприка (L-50)', 'Берграс',
       'Верба (малый пучок)', 'Ветки', 'Ветки рябины',
       'Ветки с инжиром (W-1000)', 'Ветки с инжиром W-1000',
       'Ветки Яблоки цветущий (L-120)', 'Вибурнум',
       'Вибурнум компакта (W-400)', 'Вибурнум розеум',
       'Вибурнум розеум (L-80)', 'Вибурнум розеум, наб. (L-80)',
       'Вибурнум сардженти (L-75)', 'Вибурнум тинус ред (W-400)',
       'Гвоздика  лизи Луизиана Фарус', 'Гвоздика (L-50 + L-70)',
       'Гвоздика 110', 'Гвоздика барбатус красная',
       'Гвоздика барбатус свит вилл вайт', 'Гвоздика Белая Ту флор',
       'Гвоздика кустовая пиджон Туфлор L-70',
       'Гвоздика селект прадо минт Элит Флауэр (L-70)',
       'Гвоздика ст брют ГеоФлора (L-70)',
       'Гвоздика ст карамель Флекспорт де колумбия (L-50)',
       'Гвоздика ст коппер экстасис ГеоФлора (L-70)',
       'Гвоздика ст крета ГеоФлора (L-70)', 'Гвоздика ст лизи (L-70)',
       'Гвоздика ст ханои ГеоФлора (L-70)', 'Геликония ред джевел L-100',
       'Гениста синяя с семенами (W-400)', 'Георгина блек фокс L-60',
       'Георгина визард (L-50)', 'Георгина визард (L-60)',
       'Георгина карма маартен эваан L-55',
       'Георгина кафе ау лайт, наб. (L-70)', 'Георгина ред фокс (L-60)',
       'Георгина шампань L-60', 'Георгина шампань, в асс. (L-60)',
       'Гербера', 'Гербера L-50', 'Гербера гарден гост (L-50)',
       'Гербера герспайдер премьер (L-45; W-10)',
       'Гербера паста карбонара (L-50)', 'Гербера паста росата (L-50)',
       'Гербера пастини карпи (L-45)',
       'Гербера пастини корвара (L-45; W-10)', 'Гидрангия',
       'Гидрангия бело-розовая, пач. (L-60)',
       'Гидрангия верена свит (L-60)', 'Гидрангия верена синяя (L-60)',
       'Гипсофила', 'Гипсофилла', 'Глориоза', 'Глориоза зен (L-70)',
       'Глориоза маскотте (L-70)', 'Гривиллея спайдермен (W-400)',
       'Даукус карота дара (L-50)', 'Дельфиниум балклейд',
       'Дельфиниум балклейд (L-70)',
       'Дельфиниум ду деви спикер Ухуру (L-80)',
       'Дельфиниум найт квин L-90', 'Дельфиниум центурион белый (L-80)',
       'Дельфиниум эл гвардиан уайт (L-70)', 'Диантус барбатус',
       'Дицентра альба (L-45)', 'Дицентра спектабилис (L-55)',
       'Жасмин розовый  (W-100)', 'Жасмин розовый (W-100)',
       'Иксия кастор (L-60)', 'Иксия маркетт (L-60)',
       'Иксия спотлайт (L-65)', 'Калла блек даймонд (L-70)',
       'Калла капт. росетте (L-60)',
       'Кампанула медиум чемпион белый (L-70)',
       'Кампанула медиум чемпион белый (L-75)',
       'Купена мультифлорум  (L-70)', 'Купена мультифлорум (L-70)',
       'Латирус винтер саншайн вайт (L-60)',
       'Латирус винтер саншайн вайт (L-80)',
       'Латирус винтер саншайн роуз (L-55)',
       'Латирус душистая красный (L-50)',
       'Латирус латифолиус блю фрегранс (L-70)', 'Латирус розовый (L-60)',
       'Леукадендрон айоба стар перл  (L-80)', 'Лизиантус (L-70 + L-50)',
       'Лизиантус эн ботаник пинк L-75)',
       'Лилия аз дабл сенсейшен (L-100)', 'Лилия аз желтый (L-80)',
       'Лилия аз желтый (L-90)', 'Лилия аз корсаж (L-80)',
       'Лилия азиатик гибрид пинк флайт (L-80)',
       'Лилия азиатик гибрид пинк флайт L-70',
       'Лилия ла ориджинал лав (L-95)', 'Лилия ла эприкот фудж. (L-70)',
       'лилия лф воч ап', 'Лилия лф воч ап (L-90)',
       'Лилия лф уайт хэвен (L-85)', 'Лилия лф уайт хэвен L-85',
       'Лилия ор делиан, пач. (L-100)', 'Лилия ор катемако (L-90)',
       'Лилия ор корковадо (L-90)', 'Лилия ор сигнум (L-90)',
       'Лилия ор хомерус L-95', 'Лилия от арвандрад. (L-100)',
       'Листья Аспарагус мейери (L-60)',
       'Листья Аспарагус сетацеус (L-65)', 'Листья Берграсс L-75',
       'Листья Муррайя Аврора (L-70)',
       'Листья Питтоспорум невато  (W-200)', 'Листья Флебодиум (L-65)',
       'Матрикария', 'Маттиола Айрен Априкот',
       'Маттиола айрон вайт (L-55)', 'Маттиола айрон вайт (L-65)',
       'Маттиола белая', 'Маттиола сальмона (L-65)',
       'Маттиола тр желтая Нинтанга', 'Маттиола чери',
       'Мимоза цветущая флорибунда  (L-70)', 'Минигербера',
       'Мискантус ред клауд (L-70)', 'Молуцелла грин L-80',
       'Мулла обоватус (L-40)', 'Мята',
       'Наперстянка камелот крем (L-100)', 'Нарцисс айс Фоллис ',
       'Нарцисс йохан штраус ', 'Нарцисс Сноу Хэвен',
       'Нигелла брайдал вайт  (L-75)', 'Нигелла брайдал вайт (L-70)',
       'Нигелла брайдал вайт (L-75)', 'Нигелла брайдал вайт, пал. (L-75)',
       'Нигелла дап си блу L-75', 'Нигелла лавандовая (L-75)',
       'Озотамнус кукс тал пинк (L-65)',
       'Оксипеталум брайдал виктория (L-50)',
       'Оксипеталум брайдал виктория (L-60)',
       'Оксипеталум Таниока пьют блу', 'Оксипеталум хевенборн (L-50)',
       'Орнитогалум вайт стар L-60', 'Паникум фоунтан (L-70)',
       'Паникум фоунтан (L-80)', 'Пион Боул оф крим',
       'Пион боул оф крим (L-60)', 'Пион боул оф крим (L-70)',
       'Пион боул оф крим, наб. (L-60)', 'Пион брайдал шоуер',
       'Пион диана паркс', 'Пион диана паркс,', 'Пион комманд перформанс',
       'Пион корал сансет (L-60)', 'Пион корал сансет (L-70; W-100)',
       'Пион корал сансет (L-80; W-100)', 'Пион Корал шарм',
       'Пион корал шарм (L-60)', 'Пион коралл шарм',
       'Пион мадам клод тейн', 'Пион мадам клод тейн (L-60)',
       'Пион мазерс чойс (L-60)', 'Пион одил', 'Пион одил (L-70)',
       'Пион Паула фей', 'Пион ред бернард (L-60)',
       'Пион ред шарм (L-55)', 'Пион сара бернард ', 'Прунус альба плена',
       'Прунус альба плена (L-90)', 'Прунус серрулата (L-120)',
       'Прунус серрулата (L-80)', 'Прунус серрулата L-120)',
       'Ранункулус азур шампань L-46', 'Ранункулус клуни (L-45)',
       'Ранункулус пон-пон вайт пинк страйпс',
       'Ранункулус романс гидра (L-50)',
       'Ранункулус романс мон коломобьер (L-60)', 'Ранункулус элеганс',
       'Ранункулюс Батерфляй', 'Ранункулюс Клуни Коммедия',
       'Ранункулюс Клуни Леди', 'Ранункулюс Клуни ханой',
       'Ранункулюс романс лубре', 'Роза амнезия', 'Роза Вайт Охара',
       'Роза ГР', 'Роза гр (L-60)', 'Роза гр амнезия',
       'Роза гр батеркап (L-70)',
       'Роза гр вайт охара Александра, наб. (L-60)',
       'Роза гр вайт охара Гарда (L-50)',
       'Роза гр вестминстер эбби (L-70)', 'Роза ГР вестминстер эбби L-60',
       'Роза гр далия (тоффи) Аксель флауэрс (L-60)',
       'Роза гр кантри спирит корал гёл (L-60)',
       'Роза гр кафе латте Александра (L-40)',
       'Роза гр кафе латте Александра (L-50)',
       'Роза гр кахала Ухуру, пач. (L-50)',
       'Роза гр квик санд Олимпо (L-80)', 'Роза гр кимберли (L-80)',
       'Роза гр микото Ухуру (L-50)',
       'Роза гр пинк охара Александра (L-60)',
       'Роза гр реджентс парк  (L-60)', 'Роза гр реджентс парк (L-70)',
       'Роза ГР фо сизенс L-60', 'Роза Кейра', 'Роза ТР',
       'роза тр аэробик', 'Роза тр белла линда брик Карен (L-70)',
       'Роза тр бомбастик', 'Роза тр брайдел флоу сентед (L-60)',
       'Роза тр бурбон стрит (L-60)', 'Роза тр вайлд моментс  (L-70)',
       'Роза тр вайт майолика Натурфлора',
       'Роза тр вайт майолика Натурфлора (L-50)',
       'Роза ТР джульетта L-60',
       'Роза тр пинк майолика Элит Флауэр (L-50)', 'Сено',
       'Сетария волл мелк (L-80)', 'Сетария волл мелк L-80',
       'Сиерграссен микс (L-80)', 'Сирень',
       'Скабиоза фокал скуп хот пинк, пал. (L-60)',
       'Смородина кинг эдвард', 'Смородина кинг эдвард L-90',
       'Спирея грефшейм (L-70)', 'Спирея грефшейм (L-80)',
       'Тагетес оранжевый (L-70)', 'Тиласпия', 'Трителейя белая L-60',
       'Тюльпан ду дюшес, в асс. (L-40)',
       'Тюльпан ду маурин дабл (L-60; W-59)',
       'Тюльпан ду маурин дабл (L-65; W-65)',
       'Тюльпан ду маурин дабл, кор. (L-65; W-65)',
       'Тюльпан ду ментон юник (L-60; W-75)',
       'Тюльпан па грин вейв, в асс. (L-65; W-60)',
       'Тюльпан па салмон пэррот (L-45; W-42)',
       'Тюльпан па салмон пэррот, уп. (L-48; W-40)',
       'Тюльпан па флейминг пэррот (L-60; W-60)', 'Тюльпан супер Пэрот',
       'Тюльпан фр ментон (L-50; W-54)', 'Тюльпан фр ментон (L-55; W-55)',
       'Тюльпан фр ментон (L-60; W-60)',
       'Тюльпан фр ментон, наб. (L-60; W-65)', 'Тюльпан Энапдейт',
       'Флокс Вайт кап', 'Флокс вайткап (L-60)',
       'Флокс микс Ухуру (L-60)', 'Фотиния цветущая (W-400)',
       'Фритиллярия', 'Фритиллярия L-75 + L-50',
       'Фритиллярия айвори белс  L-75', 'Фритиллярия айвори белс (L-75)',
       'Фритиллярия айвори белс, наб. (L-75)', 'Фритиллярия Айвори бэлс',
       'Фритиллярия Империал', 'Фритиллярия лютея (L-75)',
       'Фритиллярия лютея L-55', 'Фритиллярия оранж бьюти (L-70)',
       'Фритиллярия оранж бьюти (L-75)', 'Фритиллярия персик',
       'Фритиллярия персик (L-80)', 'Фритиллярия персик L-70',
       'Фритиллярия персика', 'Фритиллярия ува вулпис (L-48)',
       'Хасмантиум (технич Артём)', 'Хасмантиум латифолиум (L-70)',
       'Хеномелес японика, комп. (L-80)', 'Целозия от кутюр (L-75)',
       'Целозия розовая, наб. (L-55)', 'Чойсия терната лемон лайм (L-50)',
       'Чубушник (W-250)', 'Эхиум вебби (L-70)', 'Эхиум вебби (L-80)'],
      dtype=object)

**Предварительный вывод:**

Мы получили огромный список уникальных значений. Это обсусловлено тем, что каждый вид цветка имеет характеристику, такую как высота или цвет. Мы хотим узнать лидера по проданным стеблям и выручке, для этого сорт или высота нам не важны, можем убрать эти данные.

In [ ]:
df1['product_new'] = df1['product'].str.split(' ').str[0] #отбрасываем все значения после первого пробела

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df1['product_new'].unique() #получаем новый список уникальных значений

array(['Аллиум', 'Амми', 'Анигозантус', 'Антуриум', 'Астильба', 'Ахилея',
       'Берграс', 'Верба', 'Ветки', 'Вибурнум', 'Гвоздика', 'Геликония',
       'Гениста', 'Георгина', 'Гербера', 'Гидрангия', 'Гипсофила',
       'Гипсофилла', 'Глориоза', 'Гривиллея', 'Даукус', 'Дельфиниум',
       'Диантус', 'Дицентра', 'Жасмин', 'Иксия', 'Калла', 'Кампанула',
       'Купена', 'Латирус', 'Леукадендрон', 'Лизиантус', 'Лилия', 'лилия',
       'Листья', 'Матрикария', 'Маттиола', 'Мимоза', 'Минигербера',
       'Мискантус', 'Молуцелла', 'Мулла', 'Мята', 'Наперстянка',
       'Нарцисс', 'Нигелла', 'Озотамнус', 'Оксипеталум', 'Орнитогалум',
       'Паникум', 'Пион', 'Прунус', 'Ранункулус', 'Ранункулюс', 'Роза',
       'роза', 'Сено', 'Сетария', 'Сиерграссен', 'Сирень', 'Скабиоза',
       'Смородина', 'Спирея', 'Тагетес', 'Тиласпия', 'Трителейя',
       'Тюльпан', 'Флокс', 'Фотиния', 'Фритиллярия', 'Хасмантиум',
       'Хеномелес', 'Целозия', 'Чойсия', 'Чубушник', 'Эхиум'],
      dtype=object)

In [ ]:
df1['product_new'].nunique() #получаем количество позиций в новом списке

76

In [ ]:
df1['product_new'] = df1['product_new'].str.lower() #делаем все буквы нового списка строчными

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

**Пояснение**

В новом уникальном списке мы увидели несколько видов цветов, которые заведены в базу по-разному. Объединяем их в одну строку.

In [ ]:
df1['product_new'] = df1['product_new'].replace('ранункулус', 'ранункулюс') #приводим ранункулусы к ранункулюсам
df1['product_new'] = df1['product_new'].replace('гипсофилла', 'гипсофила') #приводим гипсофиллу к гипсофиле

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df1['product_new'].unique() #проверяем наши изменения

array(['аллиум', 'амми', 'анигозантус', 'антуриум', 'астильба', 'ахилея',
       'берграс', 'верба', 'ветки', 'вибурнум', 'гвоздика', 'геликония',
       'гениста', 'георгина', 'гербера', 'гидрангия', 'гипсофила',
       'глориоза', 'гривиллея', 'даукус', 'дельфиниум', 'диантус',
       'дицентра', 'жасмин', 'иксия', 'калла', 'кампанула', 'купена',
       'латирус', 'леукадендрон', 'лизиантус', 'лилия', 'листья',
       'матрикария', 'маттиола', 'мимоза', 'минигербера', 'мискантус',
       'молуцелла', 'мулла', 'мята', 'наперстянка', 'нарцисс', 'нигелла',
       'озотамнус', 'оксипеталум', 'орнитогалум', 'паникум', 'пион',
       'прунус', 'ранункулюс', 'роза', 'сено', 'сетария', 'сиерграссен',
       'сирень', 'скабиоза', 'смородина', 'спирея', 'тагетес', 'тиласпия',
       'трителейя', 'тюльпан', 'флокс', 'фотиния', 'фритиллярия',
       'хасмантиум', 'хеномелес', 'целозия', 'чойсия', 'чубушник',
       'эхиум'], dtype=object)

In [46]:
df1.pivot_table(index='product_new', values=['quantity', 'revenue'], aggfunc='sum').sort_values(by='revenue', ascending=False).head(15)#  
#сводная таблица, построенная по виду продукта, количеству проданных стеблей и суммарной выручке. Отфльтрована по убыванию по столбцу "выручка"
#рейтинг цветов по выручке (первые 15 строк)

             quantity      revenue
product_new
пион           998.00  1037553.490
роза           707.00   303198.420
тюльпан        661.00   229012.990
фритиллярия    298.00   229006.160
ранункулюс     438.00   189147.890
ветки          408.54   177920.158
лилия          219.00   133922.250
георгина       188.00   126577.330
антуриум       137.00   109746.500
вибурнум       141.75   108554.808
сирень          35.50    87500.000
гвоздика       644.00    78475.900
латирус        155.00    66320.000
паникум        356.00    65078.760
гербера        255.00    61755.460

In [ ]:
df1.pivot_table(index='product_new', values=['quantity', 'revenue'], aggfunc='sum').sort_values(by='quantity', ascending=False).head(15) #
#сводная таблица, построенная по виду продукта, количеству проданных стеблей и суммарной выручке. Отфльтрована по убыванию по столбцу "количество"
#рейтинг цветов по количеству проданных стеблей (первые 15 строк)

             quantity      revenue
product_new
пион           998.00  1037553.490
роза           707.00   303198.420
тюльпан        661.00   229012.990
гвоздика       644.00    78475.900
ранункулюс     438.00   189147.890
ветки          408.54   177920.158
паникум        356.00    65078.760
фритиллярия    298.00   229006.160
гербера        255.00    61755.460
лилия          219.00   133922.250
георгина       188.00   126577.330
нигелла        160.00    56149.500
латирус        155.00    66320.000
вибурнум       141.75   108554.808
антуриум       137.00   109746.500